.backBtn {
  text-decoration: none;
  display: block;
  padding: 10px 30px;
  bottom: 15px;
  right: 10px;
  position: absolute;
  overflow: hidden;
  border: 2px solid #b8860b;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #b8870b;
  transition: 0.2s ease-in-out;
  background-color: transparent;
}

.backBtn::before {
  content: '';
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.7)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}

.backBtn:hover {
  background: #b8870b34;
  color: #fffff0;
}

.backBtn:hover::before {
  left: 150px;
  transition: 0.5s ease-in-out;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 18px;
}
