.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
  transition: color 250ms linear;
}

.link:hover {
  color: #f5b048;
}

.active {
  composes: link;
  color: #adff2f;
}
